.heading-primary {
  padding-top: 1rem;
}

.heading-secondary {
  margin-top: 3rem;
}

.homePageButtons {
  margin-top: 3rem;
  padding-bottom: 8rem;
}

.button-primary,
.button-secondary {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 0.25rem;
}
