.heading-1{
    padding-top: 1rem;    
}

.heading-2{
    margin-top: 3rem;
}

.homePageButtons{
    margin-top: 3rem;
    padding-bottom: 8rem;
}

.button-1, .button-2{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 0.25rem;
}

